
/* #message只是一个示例，可以删除 */
#message {
	height: 170px;
	line-height: 15px;
	padding-top:13px;
	border: 1px solid red;
}
body{
	margin: 50px 50px;
	width: 50%;
	height: 75%;
	border: 2px solid blue;
}

h1{
	padding:3px;
	text-align:center;
}
h2{
	padding:3px;
	background-color: rgb(100,200,230);
}
.ItemShow{
	border: 2px solid rgb(225,225,225);
	margin-left:45px;
	margin-right:45px;
	margin-top:25px;
	border-radius: 5px;
}
.Item{
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	height:35px;
}
.LabelStr{
	padding:3px;
	width:70px;
	display:inline-block;
}
input{
	width:50px;
}
.LabelName{
	font-size: 18px;
	font-weight: bold;;
}
.ItemButtonShow{
	text-align:center;
	border: 2px solid rgb(225,225,225);
	margin-left:45px;
	margin-right:45px;
	margin-top:25px;
	border-radius: 5px;
}
button{
	background-color: rgb(107, 178, 230);
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
	border-radius: 5px;
	width:80px;
	height:40px;
	font-size: 25px;
	font-weight: bold;
}
